* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.position {
  aspect-ratio: 1 / 1;
  position: absolute;
  inset: 0.5em;
  margin: auto;
}

.clock-position {
  aspect-ratio: 1 / 1;
  position: relative;
  margin: auto;
}

.bigbox {
  min-width: 100px;
  min-height: 100px;
  padding: 10px;
}

.clock-ctn {
  background: #1C9999;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0em 1em 6em 0em #000000a3;
}

.markers {
  width: 2%;
  aspect-ratio: 1 / 45;
  border-radius: 30%;
  background: #ffffff;
}

.cardinal {
  background: #000000;
  width: 4%;
  aspect-ratio: 2 / 45;
}

#m-3-9 {
  transform: rotate(90deg);
}

#m-1-7 {
  transform: rotate(30deg);
}

#m-2-8 {
  transform: rotate(60deg);
}

#m-4-10 {
  transform: rotate(-30deg);
}

#m-5-11 {
  transform: rotate(-60deg);
}

.clock-face {
  background: #1C9999;
  width: 75%;
  border-radius: 50%;
}

.clock-hand {
  border-radius: 2em;
  background: linear-gradient(#ec6602 50%, transparent 50%);
}

.hour {
  width: 3%;
  aspect-ratio: 1 / 25;
}

.minute {
  width: 2%;
  aspect-ratio: 1 / 45;
}

.second {
  width: .625%;
  aspect-ratio: 1 / 192;
  background: linear-gradient(rgb(0, 0, 0) 50%, transparent 50%);
}

.dot {
  width: 7%;
  border-radius: 50%;
  background: #000000;
  border: solid 1px rgb(0, 0, 0);
}

p {
  color: #000000;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 25%;
  left: 0%;
  right: 0;
  margin: 0 auto;
}

.ref {
  font-size: 0.7em;
  bottom: 4%;
  color: #ffffff89;
}

a {
  text-decoration: .1em #1C9999 underline;
  color: #1C9999;
}
